<div class="pageTitle">Sandbox settings</div>

<app-text-waiting
  *ngIf="!originalSandboxConfig || !updatedSandboxConfig"
  text="Retrieving sandbox settings..."></app-text-waiting>

<app-text-waiting *ngIf="updatingSandbox" text="Updating sandbox settings..."></app-text-waiting>

<div *ngIf="originalSandboxConfig && updatedSandboxConfig && !updatingSandbox">
    <div class="pageSubtitle">Connecting to the sandbox</div>

    <div class="paragraph">Sandbox URL:</div>
    <input
    id="sandboxUrlInput"
    class="readOnlyInput"
    type = "text"
    readonly="true"
    [value]="originalSandboxConfig.sandboxUrl"
    />

    <div class="paragraph">Request authentication header name:</div>
    <input
    id="sandboxAuthHeaderNameInput"
    class="readOnlyInput"
    type = "text"
    readonly="true"
    [value]="originalSandboxConfig.sandboxAuthHeaderName"
    />

    <div class="paragraph">Request authentication header value:</div>
    <input
    id="sandboxAuthHeaderValueInput"
    class="readOnlyInput"
    type = "text"
    readonly="true"
    [value]="originalSandboxConfig.sandboxAuthHeaderValue"
    />

    <br />
    <br />

    <div class="pageSubtitle">Update sandbox settings</div>

    <form
    #createSandboxForm="ngForm"
    (submit)="onUpdate()"
    >
        <div>
            <br />
            <mat-form-field class="fullWidth">
                <mat-label>Sandbox name</mat-label>
                <input
                matInput
                #sandboxNameInput
                type = "text"
                autocomplete="off"
                name="sandboxNameTextField"
                [(ngModel)]="updatedSandboxConfig.sandboxName"
                />
            </mat-form-field>
        </div>

        <div>
            <br />
            <mat-form-field class="fullWidth">
                <mat-label>Sandbox counterpart URL</mat-label>
                <input
                matInput
                #externalPartyUrlInput
                type = "text"
                autocomplete="off"
                name="externalPartyUrlTextField"
                [(ngModel)]="updatedSandboxConfig.externalPartyUrl"
                />
            </mat-form-field>
        </div>

        <div>
            <br />
            <mat-form-field class="fullWidth">
                <mat-label>Sandbox counterpart authentication header name</mat-label>
                <input
                matInput
                #externalPartyAuthHeaderNameInput
                type = "text"
                autocomplete="off"
                name="externalPartyAuthHeaderNameTextField"
                [(ngModel)]="updatedSandboxConfig.externalPartyAuthHeaderName"
                />
            </mat-form-field>
        </div>

        <div>
            <br />
            <mat-form-field class="fullWidth">
                <mat-label>Sandbox counterpart authentication header value</mat-label>
                <input
                matInput
                #externalPartyAuthHeaderValueInput
                type = "text"
                autocomplete="off"
                name="externalPartyAuthHeaderValueTextField"
                [(ngModel)]="updatedSandboxConfig.externalPartyAuthHeaderValue"
                />
            </mat-form-field>
        </div>

        <div class="pageSubtitle">Additional headers</div>
        <br/>
        <div>
            <button
            mat-mini-fab
            color="primary"
            type="button"
            (click)="onAddHeader()"
            ><mat-icon>add</mat-icon></button>

            &nbsp;

            <button
            mat-mini-fab
            color="primary"
            type="button"
            [disabled]="updatedSandboxConfig.externalPartyAdditionalHeaders.length < 1"
            (click)="onRemoveHeader()"
            ><mat-icon>remove</mat-icon></button>

            <div *ngFor="let additionalHeader of updatedSandboxConfig.externalPartyAdditionalHeaders">
                <app-edit-header [headerNameAndValue]="additionalHeader"></app-edit-header>
                <hr/>
            </div>
        </div>

        <br />
        <br />
        <div>
            <button
            id="updateSandboxButton"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="cannotUpdate()"
            ><mat-icon>done</mat-icon>Update</button>
            &nbsp;
            <button
            mat-raised-button
            type="button"
            (click)="onCancel()"
            ><mat-icon>not_interested</mat-icon>Cancel</button>
        </div>
        <br />
    </form>
</div>

