<app-text-waiting *ngIf="!sandbox" text="Retrieving sandbox metadata..."></app-text-waiting>

<div *ngIf="sandbox">
    <div class="paragraph">Sandbox: {{sandbox.name}}</div>
    <div class="paragraph">
        <a [routerLink]="'/sandbox/' + sandbox!.id">Back to the sandbox overview</a>
    </div>
</div>

<app-text-waiting *ngIf="sandbox && !scenario" text="Retrieving scenario metadata..."></app-text-waiting>

<div *ngIf="scenario" class="paragraph">Scenario: {{scenario.name}}</div>

<app-text-waiting *ngIf="sandbox && scenario && !sandboxStatus" text="Retrieving sandbox status..."></app-text-waiting>

<app-text-waiting *ngIf="sandbox && scenario && sandboxStatus && sandboxStatus!.waiting.length == 0 && !scenarioStatus" text="Retrieving scenario status..."></app-text-waiting>

<app-text-waiting *ngIf="sandbox && scenario && performingAction" [text]="performingAction"></app-text-waiting>

<div *ngIf="sandboxStatus">
    <div *ngFor="let sandboxWaiting of sandboxStatus!.waiting">
      <app-text-waiting [text]="formattedSandboxWaiting(sandboxWaiting)"></app-text-waiting>
    </div>
</div>

<div *ngIf="scenarioStatus && !performingAction">
    <div *ngIf="!scenarioStatus.isRunning && scenarioStatus.nextActions !== ''">
        <div class="paragraph">The scenario was not started yet.</div>
    </div>

    <div *ngIf="scenarioStatus.isRunning">
        <div *ngIf="!scenarioStatus.nextActions">
            <div class="paragraph">The execution of this scenario is complete.</div>
        </div>

        <div *ngIf="scenarioStatus.nextActions">
            <div class="paragraph">Remaining actions: {{scenarioStatus.nextActions}}</div>

            <div class="pageTitle">Current action: <b>{{getCurrentActionTitle()}}</b></div>

            <div *ngIf="scenarioStatus.promptText">
                <div class="paragraph">▶️ {{scenarioStatus.promptText}}</div>

                <div *ngIf="scenarioStatus.jsonForPromptText" class="paragraph">
                    <pre>{{getJsonForPromptText()}}</pre>
                </div>

                <div *ngIf="scenarioStatus.inputRequired">
                    <div class="paragraph">
                        <mat-form-field
                        class="fullWidth"
                        >
                            <textarea
                            matInput
                            rows="3"
                            name="actionInput"
                            [(ngModel)]="actionInput"
                            ></textarea>
                        </mat-form-field>
                    </div>
                    <div class="paragraph">
                        <button
                        mat-raised-button
                        color="primary"
                        [disabled]="cannotSubmit()"
                        (click)="onSubmit(true)"
                        >Submit</button>
                    </div>
                </div>
            </div>

            <div *ngIf="!scenarioStatus.inputRequired">
                <div class="paragraph">
                    <button
                    mat-raised-button
                    color="primary"
                    (click)="loadScenarioStatus()"
                    >Refresh status</button>
                    &nbsp;
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="completeCurrentAction()"
                    >Action completed</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="scenario && scenarioStatus?.conformanceSubReport">
        <div class="pageSubtitle">Conformance status</div>
        <app-report
        *ngIf="scenario && scenarioStatus?.conformanceSubReport"
        [folded]="false"
        [report]="scenarioStatus.conformanceSubReport"
        ></app-report>
    </div>
</div>
