<app-text-waiting *ngIf="!sandbox" text="Retrieving sandbox metadata..."></app-text-waiting>

<div *ngIf="sandbox">
  <div class="paragraph"><a [routerLink]="'/sandbox/' + sandbox!.id">Sandbox:</a> {{ sandbox.name }}</div>
  <div class="paragraph">
    <app-sandbox-type [sandbox]="sandbox"></app-sandbox-type>
  </div>

  <app-text-waiting *ngIf="!scenario" text="Retrieving scenario metadata..."></app-text-waiting>

  <div *ngIf="scenario" class="paragraph">Scenario: {{scenario.name}}</div>

  <app-text-waiting *ngIf="scenario && !sandboxStatus" text="Retrieving sandbox status..."></app-text-waiting>

  <app-text-waiting *ngIf="scenario && sandboxStatus && sandboxStatus!.waiting.length == 0 && !scenarioStatus" text="Retrieving scenario status..."></app-text-waiting>

  <app-text-waiting *ngIf="scenario && performingAction" [text]="performingAction"></app-text-waiting>

  <div *ngIf="sandboxStatus">
      <div *ngFor="let sandboxWaiting of sandboxStatus!.waiting">
        <app-text-waiting [text]="formattedSandboxWaiting(sandboxWaiting)"></app-text-waiting>
      </div>
  </div>

  <div *ngIf="scenarioStatus && !performingAction">
      <div *ngIf="!scenarioStatus.isRunning && scenarioStatus.nextActions !== ''">
          <div class="paragraph">The scenario was not started yet.</div>
      </div>

      <div *ngIf="scenarioStatus.isRunning">
          <div *ngIf="!scenarioStatus.nextActions">
              <div class="paragraph">The execution of this scenario is complete.</div>
          </div>

          <div *ngIf="scenarioStatus.nextActions">
              <div class="paragraph" id="nextActions">Remaining actions: {{scenarioStatus.nextActions}}</div>

            <div class="pageTitle">
              Current action:&nbsp;
              <span *ngIf="scenarioStatus.promptText" testId="yourTurnIcon">▶️</span>&nbsp;
              <span testId="currentAction" style="font-weight: bold;">{{ getCurrentActionTitle() }}</span>
            </div>

            <div *ngIf="scenarioStatus.promptText">
                  <div class="paragraph"><markdown [data]="scenarioStatus.promptText"></markdown></div>

                  <div *ngIf="scenarioStatus.inputRequired">
                      <div class="paragraph">
                          <mat-form-field
                          [ngClass]="'fullWidth'"
                          [ngStyle]="{'font-family': 'monospace'}"
                          >
                              <textarea
                              id="actionInput"
                              testId="jsonPromptText"
                              matInput
                              rows="8"
                              name="actionInput"
                              [(ngModel)]="actionInput"
                              ></textarea>
                          </mat-form-field>
                      </div>
                    <div class="paragraph" *ngIf="submitAttempted && inlineErrorMessage">
                      <mat-card style="background-color: #fdecea; color: #b00020; padding: 1em;">
                          <mat-icon>error</mat-icon>
                          <pre style="margin: 0; white-space: pre-wrap;">{{ inlineErrorMessage }}</pre>
                      </mat-card>
                    </div>
                      <div class="paragraph">
                          <button
                          id="submitActionButton"
                          mat-raised-button
                          color="primary"
                          [disabled]="cannotSubmit()"
                          (click)="onSubmit(true)"
                          >Submit</button>
                      </div>
                  </div>
              </div>

              <div *ngIf="!scenarioStatus.inputRequired">
                  <div *ngIf="!scenarioStatus.promptText">
                    <div class="paragraph">Verify that your application has handled correctly the action performed by the other party.</div>
                    <div class="paragraph">If needed, press "Refresh status" to refresh the scenario status and conformance checks.</div>
                    <div class="paragraph">When done, press "Action completed" to mark this scenario action completed.</div>
                  </div>

                  <div class="paragraph">
                      <button
                      id="refreshStatusButton"
                      mat-raised-button
                      color="primary"
                      (click)="loadScenarioStatus()"
                      >Refresh status</button>
                      &nbsp;
                      <button
                        id="completeCurrentActionButton"
                        mat-raised-button
                        color="primary"
                        (click)="completeCurrentAction()"
                      >Action completed</button>
                      &nbsp;
                      <button
                        id="viewExchangesActionButton"
                        mat-raised-button
                        (click)="viewHttpExchanges()"
                      >View HTTP exchanges</button>
                  </div>
              </div>
          </div>
      </div>

      <div *ngIf="scenario && scenarioStatus?.conformanceSubReport">
          <div class="pageSubtitle">Conformance status</div>
          <app-report
          *ngIf="scenario && scenarioStatus?.conformanceSubReport"
          [unfoldedLevels]="1"
          [report]="scenarioStatus.conformanceSubReport"
          ></app-report>
      </div>
  </div>
</div>
