<div class="pageTitle">Sandboxes</div>

<div class="pageSubtitle">
    <button
        id="create_sandbox_button"
        mat-raised-button
        color="primary"
        title="Create sandbox"
        (click)="onCreateSandbox()"
        >Create sandbox</button>
</div>

@if (isLoading) {
  <app-text-waiting text="Retrieving existing sandboxes..."></app-text-waiting>
}

@for (sandbox of sandboxes; track sandbox.id) {
  <mat-card
  [ngClass]="'entityCard withContentPadding withPointerCursor'"
  (click)="onSandboxClick(sandbox)">
    <div>
      <app-sandbox-type [sandbox]="sandbox"></app-sandbox-type>
    </div>
    <div class="wrappingText" style="color: grey">{{sandbox.name}}</div>
  </mat-card>
}
