name: Deploy+Verify on AWS dev

on:
  push:
    branches: ["dev"]

env:
  AWS_REGION: "eu-north-1"
  NG_CLI_ANALYTICS: "ci"
  AWS_ENVIRONMENT: "dev"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print commit sha
        shell: bash
        env:
          COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
        run: |
          echo "sha: $COMMIT_SHA"

      - name: Set up Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '25'
          cache: 'maven'

      - name: Set up Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: webui/package-lock.json

      - name: Build Conformance-Gateway
        run: |
          ./mvnw package -B -V -DskipTests
      # No need to run tests, as they are already run in the PR workflow

      - name: Build Web UI
        run: |
          cd webui
          echo Install AWS CDK
          npm install -g aws-cdk
          echo Install dependencies
          npm install
          echo Build Web UI
          npm run build -- --configuration=${{ env.AWS_ENVIRONMENT }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.DEV_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DEV_AWS_SECRET_ACCESS_KEY }}

      - name: Diff Conformance-Gateway Stack of ${{ env.AWS_ENVIRONMENT }}
        run: |
          cd cdk/
          cdk diff ${{ env.AWS_ENVIRONMENT }}ConformanceStack

      - name: Deploy Conformance-Gateway Stack to ${{ env.AWS_ENVIRONMENT }}
        run: |
          cd cdk/
          cdk deploy ${{ env.AWS_ENVIRONMENT }}ConformanceStack --require-approval never

      - name: Verify a scenario in AWS Dev environment
        env:
          TEST_LOGIN_EMAIL: ${{ secrets.DEV_CONFORMANCE_USER_EMAIL }} # User account details to log in the Web UI.
          TEST_LOGIN_PASSWORD: ${{ secrets.DEV_CONFORMANCE_USER_PASSWORD }}
          TEST_BASE_URL: ${{ secrets.DEV_CONFORMANCE_WEB_URL }}
        run: |
          ./mvnw -B test -Pintegration
