name: Build+Test

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - test
      - master
    paths-ignore:
      - "**.md"
  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - "**.md"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # Number of commits to fetch. 0 indicates all history for all branches and tags, for SonarCloud.
          fetch-depth: 0

      - name: Print commit sha
        shell: bash
        env:
          COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
        run: |
          echo "sha: $COMMIT_SHA"

      - name: Set up Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: 25
          cache: 'maven'

      - name: Build and test Conformance-Gateway
        run: |
          ./mvnw package -B -V
